@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.mainFormaDeEnvios {
    width: 100%;
    height: 150vh;
}

.envios .contenedorFastmailFormaDeEnvios {
    width: 40%;
}

.envios .contenedorEnvioEnElDiaFormaDeEnvios {
    width: 40%;
}
.mapaDeFormaDeEnvios{
    top: 50px;
    position: relative;
    padding-left: 250px;
}
.quedateEnCasa {
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
}

.quedateEnCasa h2 {
    width: 50%;
    background-color: moccasin;
    font-family: 'Roboto', sans-serif;

}

.mainFormasDeEnvios .botomDeWpp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.botomDeWpp:hover {
    text-decoration: none;
    color: #25d366;
    background-color: white;
}

.animate__jackInTheBox {
    animation-iteration-count: 1;
}

.container-fluid {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    line-height: 0%;
}

.container-fluid .footer__formasDePago {
    order: 2;
}

.container-fluid .footer__derechosDeAutor {
    order: 3;
    align-self: flex-end;
}

.container-fluid .footer__suscripcion {
    order: 1;
}

.fa-cc-visa {
    font-size: $tamañoIconoFooter;
    margin-left: 80px;
}

.fa-cc-mastercard {
    font-size: $tamañoIconoFooter;
}

.fa-cc-amex {
    font-size: $tamañoIconoFooter;
}

.footer__formasDePago h3 {
    font-weight: $grosorDePalabra;
    font-size: 27.082px;
    text-shadow: white 3px 2px;
    position: relative;
    left: 25px;
}

.mainFormasDeEnvios .formasDeEnvios .cajaDeEnviosEnElDia {
    padding-top: 100px;
    width: 40%;
}

.mainFormasDeEnvios .formasDeEnvios .cajaDeFastmail {
    width: 40%;
}

@media only screen and(max-width: 1200px) {
    .mainFormaDeEnvios {
        height: 100vh;
    }
}

@media only screen and(max-width: 992px) {
    .mapaDeFormaDeEnvios{
        position: relative;
        padding-left: 170px;
    }
    .quedateEnCasa h2 {
        width: 56%;
    }
}

@media only screen and (max-width: 768px) {
    .mainFormaDeEnvios{
        height: 90vh;
    }
    .mapaDeFormaDeEnvios iframe{
        display: none;
    }
    .quedateEnCasa h2 {
        width: 65%;
    }
}

@media only screen and (max-width: 575px) {
    .mainFormaDeEnvios {
        height: 100vh;
    }
    .mapaDeFormaDeEnvios iframe{
        display: none;
    }
    .quedateEnCasa h2 {
        width: 63%;
        font-size: 12px;
    }

}