.contenedorSobreNosotros{
    width: 100%;
    height: 100vh;
    background-image: url(IMG/background-2076334_1920.jpg);
}
.contenedorSobreNosotros .bannerSobreNosotros{
    width: 100%;
    height: 20vh;
    background-color:#119C96;
    opacity: 0.7;
    
}
.contenedorSobreNosotros .bannerSobreNosotros P{
    color: white !important;
    font-size:40px;
    padding-top: 30px;
    font-weight: bold;
    opacity: 0.6;
}
.contenedorSobreNosotros .informacionSobreNosotros{
    width: 50%;
    height: 50vh;
    padding-top: 100px;
    background-color: black;
    margin-top: 90px;
    margin-left: 60px;
    opacity: 0.8;
}
.contenedorSobreNosotros .informacionSobreNosotros h1{
    font-weight: bold;
    color: white !important;
    
}
.contenedorSobreNosotros .informacionSobreNosotros p{
    color: white !important;
}
.container-fluid {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    line-height: 0%;
}

.container-fluid .footer__formasDePago {
    order: 2;
}

.container-fluid .footer__derechosDeAutor {
    order: 3;
    align-self: flex-end;
}

.fa-cc-visa {
    font-size: $tamañoIconoFooter;
    margin-left: 80px;
}

.fa-cc-mastercard {
    font-size: $tamañoIconoFooter;
}

.fa-cc-amex {
    font-size: $tamañoIconoFooter;
}


.footer__formasDePago h2 {
    font-weight: $grosorDePalabra;
    font-size: 27.082px;
    text-shadow: white 3px 2px;
    position: relative;
    left: 25px;
}
