.contenedorSobreNosotros {
    width: 100%;
    height: 100vh;
    background-image: url(IMG/background-2076334_1920.jpg);
}

.contenedorSobreNosotros .bannerSobreNosotros {
    width: 100%;
    height: 20vh;
    background-image: url(IMG/fotodebanner3.jpg);
    background-size: cover;
}

.contenedorSobreNosotros .bannerSobreNosotros P {
    color: white !important;
    font-size: 2.5rem;
    padding-top: 30px;
    font-weight: bold;
    opacity: 0.7 !important;
}

.contenedorSobreNosotros .informacionSobreNosotros {
    width: 50%;
    height: 50vh;
    padding-top: 100px;
    background-color: black;
    margin-top: 90px;
    opacity: 0.8;
    box-shadow: 5px 5px 6px 5px grey;
    position: relative;
    left: 350px;
}

.contenedorSobreNosotros .informacionSobreNosotros h1 {
    font-weight: bold;
    color: white !important;
    position: relative;
    left: 190px;
    bottom: 10px;
}

.contenedorSobreNosotros .informacionSobreNosotros p {
    color: white !important;
    padding-left: 10px;
}

.container-fluid {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    line-height: 0%;
}

.container-fluid .footer__formasDePago {
    order: 2;
}

.container-fluid .footer__derechosDeAutor {
    order: 3;
    align-self: flex-end;
}

.fa-cc-visa {
    font-size: $tamañoIconoFooter;
    margin-left: 80px;
}

.fa-cc-mastercard {
    font-size: $tamañoIconoFooter;
}

.fa-cc-amex {
    font-size: $tamañoIconoFooter;
}


.footer__formasDePago h2 {
    font-weight: $grosorDePalabra;
    font-size: 1.693rem;
    text-shadow: white 3px 2px;
    position: relative;
    left: 25px;
}

@media only screen and(max-width: 1200px) {
    .contenedorSobreNosotros .bannerSobreNosotros {
        height: 15vh;
    }

    .contenedorSobreNosotros .informacionSobreNosotros {
        height: 40vh !important;
        position: relative;
        left: 300px;
    }

    .contenedorSobreNosotros .informacionSobreNosotros h1 {
        position: relative;
        left: 150px;
    }
}

@media only screen and(max-width: 992px) {
    .contenedorSobreNosotros .informacionSobreNosotros {
        width: 60%;
        height: 35vh !important;
        position: relative;
        left: 200px;
    }

    .contenedorSobreNosotros .informacionSobreNosotros h1 {
        position: relative;
        left: 170px;
    }
}

@media only screen and (max-width: 768px) {
    .contenedorSobreNosotros {
        height: 80vh;
    }

    .contenedorSobreNosotros .informacionSobreNosotros {
        width: 60%;
        height: 40vh;
        position: relative;
        left: 140px;
    }

    .contenedorSobreNosotros .informacionSobreNosotros h1 {
        position: relative;
        left: 100px;
    }
}

@media only screen and (max-width: 575px) {
    .contenedorSobreNosotros .informacionSobreNosotros {
        width: 70%;
        height: 50vh !important;
        position: relative;
        left: 50px;
    }

    .contenedorSobreNosotros .informacionSobreNosotros h1 {
        font-weight: bold;
        color: white !important;
        position: relative;
        left: 30px;
        font-size: 25px;
    }

    .contenedorSobreNosotros .informacionSobreNosotros p {
        font-size: 14px;
    }

    .contenedorSobreNosotros .bannerSobreNosotros p {
        font-size: 35px;
    }
}