@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import "inicio";
@import "producto";
@import "contacto";
@import "sobreNosotros";
@import "formaDeEnvios";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit !important;
    /* resetea los colores*/
    text-decoration: none !important;
    /*le saca el subrayado*/
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-image: url(IMG/background-2076334_1920.jpg);

}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #CFCFCF;
    border-radius: 5px;
}