@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.contenedor {
  width: 100%;
  height: 50px;
  background-color: grey;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.contenedor .header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
}

.contenedor .header__logo img {
  width: 16%;
  height: 45px;
}

.contenedor .header__barraDeBusqueda {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 170px;
}

.contenedor .header__barraDeBusqueda button {
  border-style: none;
}

.nav-link {
  color: black;
  padding: 5px 25px !important;
  font-weight: bold !important;
}

.nav-link:hover {
  border-bottom: 1px solid orange;
}

.contenedorMedio {
  height: 170vh;
}

.contenedorMedio .carousel-inner .carousel-caption {
  width: 25%;
  height: 20vh;
  background-color: grey;
  opacity: 0.7;
}

.contenedorMedio .carousel-inner .carousel-item .carousel-caption p {
  font-weight: bold;
  color: white !important;
  opacity: 1;
  padding-top: 20px;
}

.main .botomDeWpp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 40px;
  text-align: center;
  font-size: 1.875rem;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.botomDeWpp:hover {
  text-decoration: none;
  color: #25d366;
  background-color: white;
}

.fa-whatsapp {
  margin-top: 16px;
}

.container-fluid {
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0%;
}

.container-fluid .footer__formasDePago {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 200px;
}

.container-fluid .footer__derechosDeAutor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.fa-cc-visa {
  font-size: 1.563rem;
  margin-left: 80px;
}

.fa-cc-mastercard {
  font-size: 1.563rem;
}

.fa-cc-amex {
  font-size: 1.563rem;
}

.footer__formasDePago h1 {
  font-weight: bold;
  font-size: 1.693rem;
  text-shadow: white 3px 2px;
  position: relative;
  left: 25px;
  border-bottom: 1px solid white;
}

.footer__formasDePago h1:hover {
  border-bottom: 1px solid orange;
}

.container .carousel-item img {
  width: 100%;
  height: 500px;
}

.ultimasNoticiasInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  height: 55vh;
}

.card:hover {
  background-color: #D6DCE3;
}

.container h1 {
  padding-top: 50px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.875rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  border-bottom: 3px solid #BAE0E1;
  line-height: 1;
}

.container-fluid .footer_Redes h2 {
  font-weight: bold;
  font-size: 1.693rem;
  text-shadow: white 3px 2px;
  border-bottom: 1px solid white;
}

.container-fluid .footer_Redes h2:hover {
  border-bottom: 1px solid orange;
}

.container-fluid .footer_Redes i {
  font-size: 1.25rem;
}

.container-fluid .footer_Redes .fa-facebook-f {
  padding-top: 10px;
}

.container-fluid .footer_Redes .fa-envelope {
  padding-top: 10px;
}

.container-fluid .footer_Redes .redes_Instagram {
  padding-left: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.063rem;
}

.container-fluid .footer_Redes .redes_Facebook {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.063rem;
}

.container-fluid .footer_Redes .redes_Email {
  padding-left: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.063rem;
}

@media only screen and (max-width: 1200px) {
  .contenedorMedio {
    height: 150vh;
  }
  .contenedorMedio .carousel-inner .carousel-caption {
    width: 40%;
    height: 11vh;
    padding-top: 25px;
  }
  .contenedorMedio .carousel-inner .carousel-caption p {
    position: relative;
    bottom: 20px;
  }
  .ultimasNoticiasInicio .uno {
    height: 50vh;
  }
  .ultimasNoticiasInicio .dos {
    height: 50vh;
  }
  .ultimasNoticiasInicio .dos img {
    height: 29vh !important;
  }
  .ultimasNoticiasInicio .tres {
    height: 50vh;
  }
  .ultimasNoticiasInicio .dos img {
    height: 21vh;
  }
}

@media only screen and (max-width: 992px) {
  .contenedor .header__logo {
    width: 130%;
  }
  .ultimasNoticiasInicio .dos img {
    height: 25vh !important;
  }
}

@media only screen and (max-width: 768px) {
  .contenedor .header__logo {
    width: 150%;
  }
  .contenedor .header__barraDeBusqueda {
    display: none;
  }
  .container h1 {
    text-align: center;
    font-size: 20px;
  }
  .contenedorMedio {
    height: 140vh;
  }
  .contenedorMedio .carousel-inner .carousel-caption {
    width: 60%;
    height: 11vh;
    padding-top: 5px;
  }
  .contenedorMedio .carousel-inner .carousel-caption p {
    position: relative;
    bottom: 5px;
  }
  .ultimasNoticiasInicio .uno {
    width: 85% !important;
    height: 40vh;
  }
  .ultimasNoticiasInicio .dos {
    width: 85% !important;
    height: 40vh;
  }
  .ultimasNoticiasInicio .dos img {
    height: 18.5vh !important;
  }
  .ultimasNoticiasInicio .tres {
    width: 85% !important;
    height: 40vh;
  }
  .ultimasNoticiasInicio .tres p {
    font-size: 16px;
  }
  .container-fluid .footer__formasDePago {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .navbar-nav {
    background-color: #efefef !important;
  }
  .contenedor {
    width: 100%;
  }
  .contenedor .header__logo {
    width: 300%;
  }
  .contenedor .header__barraDeBusqueda {
    display: none;
  }
  .navbar {
    z-index: 3;
  }
  .contenedorMedio {
    height: 220vh;
  }
  .contenedorMedio .botomDeWpp {
    display: none;
  }
  .container h1 {
    text-align: center;
    font-size: 20px;
    color: black !important;
  }
  .contenedorMedio .carousel-inner {
    z-index: 1;
  }
  .contenedorMedio .carousel-item {
    width: 100%;
    height: 40vh;
  }
  .contenedorMedio .carousel-item img {
    height: 40vh;
  }
  .contenedorMedio .carousel-inner .carousel-caption {
    width: 60%;
    height: 11vh;
    padding-top: 5px;
  }
  .contenedorMedio .carousel-inner .carousel-caption p {
    font-size: 13px;
  }
  .ultimasNoticiasInicio {
    display: inline-block;
  }
  .ultimasNoticiasInicio .uno {
    width: 70% !important;
    height: 40vh;
    margin-left: 50px;
    margin-top: 60px;
  }
  .ultimasNoticiasInicio .dos {
    width: 70% !important;
    height: 40vh;
    margin-left: 50px;
    margin-top: 60px;
  }
  .ultimasNoticiasInicio .tres {
    width: 70% !important;
    height: 40vh;
    margin-left: 50px;
    margin-top: 60px;
  }
  .container-fluid {
    height: 5vh;
  }
  .container-fluid .footer__formasDePago {
    display: none;
  }
  .container-fluid .footer_Redes {
    display: none;
  }
  .container-fluid .footer__derechosDeAutor p {
    font-size: 11px;
    padding-left: 19px;
  }
}

.contenedorMedioProducto {
  height: 1150px;
}

.tituloSuperior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloSuperior h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  border-bottom: 1px solid orange;
  font-size: 1.875rem;
}

.tituloSuperior #parrafoDeTituloSuperior {
  font-weight: bold;
  color: black;
  font-size: 1.063rem;
  margin-top: 0px;
}

.productosSup {
  width: 100%;
  margin: 32px auto;
  background-color: #FFE4A3;
}

.productosSup .prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nombresDeProd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nombresDeProd .soft {
  font-weight: bold;
  font-size: 1.25rem;
  padding-left: 50px;
}

.nombresDeProd .textmarker {
  padding-left: 90px;
  padding-right: 80px;
  font-weight: bold;
  font-size: 1.25rem;
}

.nombresDeProd .fine {
  font-weight: bold;
  font-size: 1.25rem;
  padding-right: 60px;
}

.precioDeLosProdSup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.precioDeLosProdSup .precioImg1 {
  font-weight: bold;
  font-size: 1.25rem;
  color: #1A5276;
}

.precioDeLosProdSup .precioImg2 {
  font-weight: bold;
  font-size: 1.25rem;
  padding-left: 250px;
  padding-right: 250px;
  color: #1A5276;
}

.precioDeLosProdSup .precioImg3 {
  font-weight: bold;
  font-size: 1.25rem;
  color: #1A5276;
}

.imagen1 {
  width: 20%;
  height: 250px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.imagen2 {
  width: 22%;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 2em/1em;
}

.imagen3 {
  width: 20%;
  height: 250px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.tituloInferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloInferior h2 {
  padding-top: 100px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid #7D3C98;
  font-size: 1.875rem;
}

.tituloInferior #parrafoTituloInferior {
  font-weight: bold;
  color: black;
  font-size: 1.063rem;
  margin-top: 0px;
  line-height: 0%;
  position: relative;
  top: 10px;
}

.productosInf {
  width: 100%;
  margin: 32px auto;
  background-color: powderblue;
}

.productosInf .prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nombreDeProdInf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nombreDeProdInf .agenda {
  font-weight: bold;
  font-size: 1.25rem;
  padding-right: 60px;
}

.nombreDeProdInf .lapiceraBic {
  padding-left: 90px;
  padding-right: 90px;
  font-weight: bold;
  font-size: 1.25rem;
}

.nombreDeProdInf .lapicesBicolor {
  font-weight: bold;
  font-size: 1.25rem;
  padding-right: 20px;
}

.imagen4 {
  width: 20%;
  height: 250px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.imagen5 {
  width: 22%;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 2em/1em;
}

.imagen6 {
  width: 20%;
  height: 250px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.mainProductos .botomDeWpp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 40px;
  text-align: center;
  font-size: 1.875rem;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.imagen1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imagen2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imagen3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imagen4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imagen5:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imagen6:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-fluid {
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0%;
}

.container-fluid .footer__formasDePago {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container-fluid .footer__derechosDeAutor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.fa-cc-visa {
  font-size: 1.563rem;
  margin-left: 80px;
}

.fa-cc-mastercard {
  font-size: 1.563rem;
}

.fa-cc-amex {
  font-size: 1.563rem;
}

.container-fluid .footer__suscripcion button {
  position: relative;
  left: 350px;
  bottom: 38px;
}

.footer__formasDePago h3 {
  font-weight: bold;
  text-shadow: white 3px 2px;
  position: relative;
  left: 25px;
  border-bottom: 1px solid white;
}

.footer__formasDePago h3:hover {
  border-bottom: 1px solid orange;
}

.footer__suscripcion--grosorDePalabra {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .tituloInferior #parrafoTituloInferior {
    padding-top: 15px;
  }
  .nombresDeProd .soft {
    position: relative;
    left: 40px;
  }
  .nombresDeProd .textmarker {
    position: relative;
    left: 0px;
  }
  .nombresDeProd .fine {
    position: relative;
    right: 40px;
  }
  .precioDeLosProdSup .precioImg1 {
    position: relative;
    left: 30px;
  }
  .precioDeLosProdSup .precioImg3 {
    position: relative;
    right: 55px;
  }
  .nombreDeProdInf .agenda {
    position: relative;
    left: 30px;
  }
  .nombreDeProdInf .lapiceraBic {
    position: relative;
    right: 20px;
  }
  .nombreDeProdInf .lapicesBicolor {
    position: relative;
    right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .contenedorMedioProducto .productosSup .prod .imagen1 {
    width: 25%;
  }
  .contenedorMedioProducto .productosSup .prod .imagen2 {
    width: 28%;
  }
  .contenedorMedioProducto .productosSup .prod .imagen3 {
    width: 25%;
  }
  .contenedorMedioProducto .productosInf .prod .imagen4 {
    width: 25%;
  }
  .contenedorMedioProducto .productosInf .prod .imagen5 {
    width: 28%;
  }
  .contenedorMedioProducto .productosInf .prod .imagen6 {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .contenedorMedioProducto {
    height: 140vh;
  }
  .contenedorMedioProducto .productosSup .prod .imagen1 {
    width: 25%;
    height: 25vh;
  }
  .contenedorMedioProducto .productosSup .prod .imagen2 {
    width: 28%;
    height: 25vh;
  }
  .contenedorMedioProducto .productosSup .prod .imagen3 {
    width: 25%;
    height: 25vh;
  }
  .nombresDeProd .soft {
    font-weight: bold;
    font-size: 20px;
  }
  .nombresDeProd .textmarker {
    font-weight: bold;
    font-size: 20px;
  }
  .nombresDeProd .fine {
    font-weight: bold;
    font-size: 20px;
  }
  .precioDeLosProdSup {
    display: none;
  }
  .contenedorMedioProducto .productosInf .prod .imagen4 {
    width: 25%;
    height: 25vh;
  }
  .contenedorMedioProducto .productosInf .prod .imagen5 {
    width: 28%;
    height: 25vh;
  }
  .contenedorMedioProducto .productosInf .prod .imagen6 {
    width: 25%;
    height: 25vh;
  }
  .nombreDeProdInf .agenda {
    padding-left: 100px;
  }
  .nombreDeProdInf .lapiceraBic {
    padding-left: 80px;
  }
  .nombreDeProdInf .lapicesBicolor {
    padding-right: 110px;
  }
}

@media only screen and (max-width: 575px) {
  .contenedorMedioProducto {
    height: 90vh;
  }
  .tituloSuperior h1 {
    font-size: 20px;
  }
  .tituloSuperior #parrafoDeTituloSuperior {
    font-size: 15px;
  }
  .productosSup .prod img {
    width: 27% !important;
    height: 20vh !important;
  }
  .productosSup .prod .imagen2 {
    width: 40% !important;
  }
  .nombresDeProd p {
    display: none;
  }
  .precioDeLosProdSup p {
    display: none;
  }
  .tituloInferior h2 {
    font-size: 20px;
  }
  .tituloInferior #parrafoTituloInferior {
    font-size: 13px;
    padding-top: 15px;
  }
  .productosInf .prod img {
    width: 27% !important;
    height: 20vh !important;
  }
  .productosInf .prod .imagen5 {
    width: 40% !important;
  }
  .nombreDeProdInf p {
    display: none;
  }
}

.contenedorContacto {
  width: 100%;
  height: 110vh;
}

.contenedorContacto .estiloAFondo {
  width: 100%;
  height: 100vh;
  background-image: url(IMG/background-2076334_1920.jpg);
  background-size: cover;
}

.contenedorContacto .estiloAFondo .informacionContacto {
  width: 50%;
  height: 90vh;
  position: relative;
  left: 350px;
  top: 65px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px 5px black;
          box-shadow: 10px 10px 10px 5px black;
}

.contenedorContacto .estiloAFondo .informacionContacto h1 {
  padding-right: 13px;
  font-weight: bold;
}

.contenedorContacto .estiloAFondo .informacionContacto p {
  /*padding-right: 70px;*/
  font-weight: bold;
  padding-bottom: 30px;
}

.contenedorContacto .estiloAFondo .informacionContacto .bienvenida_Contacto {
  background-color: grey;
  opacity: 0.7;
}

.contenedorContacto .estiloAFondo .informacionContacto form .nombreCompleto_Contacto {
  border-style: none;
  border-bottom: 1px solid black;
}

.contenedorContacto .estiloAFondo .informacionContacto form .ingresaTuEmail_Contacto {
  border-style: none;
  border-bottom: 1px solid black;
}

.contenedorContacto .estiloAFondo .informacionContacto form .escribiTuMensaje_Contacto {
  border-style: none;
  border: 1px solid black;
}

.contenedorContacto .estiloAFondo .informacionContacto form .boton_Contacto {
  border-style: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  background-color: #6AD1F0;
}

.contenedorContacto .estiloAFondo .informacionContacto .container form {
  padding-left: 35%;
}

.contenedorContacto .estiloAFondo .informacionContacto .cajaSuscripcion .botonDeSuscripcion {
  border-style: none;
}

.contenedorContacto .estiloAFondo .informacionContacto .cajaSuscripcion input {
  border-style: none;
}

.fa-badge-check {
  background-color: white;
  font-size: 1.25rem;
}

.botomDeWpp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 40px;
  text-align: center;
  font-size: 1.875rem;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.container-fluid {
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0%;
}

.container-fluid .footer__formasDePago {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container-fluid .footer__derechosDeAutor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.fa-cc-visa {
  font-size: 1.563rem;
  margin-left: 80px;
}

.fa-cc-mastercard {
  font-size: 1.563rem;
}

.fa-cc-amex {
  font-size: 1.563rem;
}

.footer__formasDePago h2 {
  font-weight: bold;
  font-size: 1.693rem;
  text-shadow: white 3px 2px;
  position: relative;
  left: 25px;
  border-bottom: 1px solid white;
}

.footer__formasDePago h2:hover {
  border-bottom: 1px solid orange;
}

@media only screen and (max-width: 1200px) {
  .contenedorContacto .estiloAFondo .informacionContacto {
    position: relative;
    left: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .contenedorContacto .estiloAFondo .informacionContacto {
    position: relative;
    left: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .contenedorContacto .estiloAFondo .informacionContacto {
    width: 70%;
    height: 90vh;
    position: relative;
    left: 110px;
    top: 65px;
    background-color: white;
  }
  .contenedorContacto .estiloAFondo .informacionContacto form .boton_Contacto {
    border-style: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    background-color: #6AD1F0;
  }
  .contenedorContacto .estiloAFondo .informacionContacto .container form {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 575px) {
  .contenedorContacto .estiloAFondo .informacionContacto {
    width: 90%;
    height: 90vh;
    position: relative;
    left: 15px;
    top: 65px;
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contenedorContacto .estiloAFondo .informacionContacto .container form {
    padding-left: 4%;
  }
  .contenedorContacto .estiloAFondo .informacionContacto form .boton_Contacto {
    border-style: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    background-color: #6AD1F0;
  }
  .contenedorContacto .estiloAFondo .informacionContacto .container p {
    font-size: 15px;
  }
  .botomDeWpp {
    display: none;
  }
}

.contenedorSobreNosotros {
  width: 100%;
  height: 100vh;
  background-image: url(IMG/background-2076334_1920.jpg);
}

.contenedorSobreNosotros .bannerSobreNosotros {
  width: 100%;
  height: 20vh;
  background-color: #119C96;
  opacity: 0.7;
}

.contenedorSobreNosotros .bannerSobreNosotros P {
  color: white !important;
  font-size: 2.5rem;
  padding-top: 30px;
  font-weight: bold;
  opacity: 0.6;
}

.contenedorSobreNosotros .informacionSobreNosotros {
  width: 50%;
  height: 50vh;
  padding-top: 100px;
  background-color: black;
  margin-top: 90px;
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 6px 5px grey;
          box-shadow: 5px 5px 6px 5px grey;
  position: relative;
  left: 350px;
}

.contenedorSobreNosotros .informacionSobreNosotros h1 {
  font-weight: bold;
  color: white !important;
  position: relative;
  left: 190px;
  bottom: 10px;
}

.contenedorSobreNosotros .informacionSobreNosotros p {
  color: white !important;
  padding-left: 10px;
}

.container-fluid {
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0%;
}

.container-fluid .footer__formasDePago {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container-fluid .footer__derechosDeAutor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.fa-cc-visa {
  font-size: 1.563rem;
  margin-left: 80px;
}

.fa-cc-mastercard {
  font-size: 1.563rem;
}

.fa-cc-amex {
  font-size: 1.563rem;
}

.footer__formasDePago h2 {
  font-weight: bold;
  font-size: 1.693rem;
  text-shadow: white 3px 2px;
  position: relative;
  left: 25px;
}

@media only screen and (max-width: 1200px) {
  .contenedorSobreNosotros .bannerSobreNosotros {
    height: 15vh;
  }
  .contenedorSobreNosotros .informacionSobreNosotros {
    height: 40vh !important;
    position: relative;
    left: 300px;
  }
  .contenedorSobreNosotros .informacionSobreNosotros h1 {
    position: relative;
    left: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .contenedorSobreNosotros .informacionSobreNosotros {
    width: 60%;
    height: 35vh !important;
    position: relative;
    left: 200px;
  }
  .contenedorSobreNosotros .informacionSobreNosotros h1 {
    position: relative;
    left: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .contenedorSobreNosotros {
    height: 80vh;
  }
  .contenedorSobreNosotros .informacionSobreNosotros {
    width: 60%;
    height: 40vh;
    position: relative;
    left: 140px;
  }
  .contenedorSobreNosotros .informacionSobreNosotros h1 {
    position: relative;
    left: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .contenedorSobreNosotros .informacionSobreNosotros {
    width: 70%;
    height: 50vh !important;
    position: relative;
    left: 50px;
  }
  .contenedorSobreNosotros .informacionSobreNosotros h1 {
    font-weight: bold;
    color: white !important;
    position: relative;
    left: 30px;
    font-size: 25px;
  }
  .contenedorSobreNosotros .informacionSobreNosotros p {
    font-size: 14px;
  }
  .contenedorSobreNosotros .bannerSobreNosotros p {
    font-size: 35px;
  }
}

.mainFormaDeEnvios {
  width: 100%;
  height: 150vh;
}

.envios .contenedorFastmailFormaDeEnvios {
  width: 40%;
}

.envios .contenedorEnvioEnElDiaFormaDeEnvios {
  width: 40%;
}

.mapaDeFormaDeEnvios {
  top: 50px;
  position: relative;
  padding-left: 250px;
}

.quedateEnCasa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 120px;
}

.quedateEnCasa h2 {
  width: 50%;
  background-color: moccasin;
  font-family: 'Roboto', sans-serif;
}

.mainFormasDeEnvios .botomDeWpp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 40px;
  text-align: center;
  font-size: 1.875rem;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.botomDeWpp:hover {
  text-decoration: none;
  color: #25d366;
  background-color: white;
}

.animate__jackInTheBox {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.container-fluid {
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0%;
}

.container-fluid .footer__formasDePago {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container-fluid .footer__derechosDeAutor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container-fluid .footer__suscripcion {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.fa-cc-visa {
  font-size: 1.563rem;
  margin-left: 80px;
}

.fa-cc-mastercard {
  font-size: 1.563rem;
}

.fa-cc-amex {
  font-size: 1.563rem;
}

.footer__formasDePago h3 {
  font-weight: bold;
  font-size: 1.693rem;
  text-shadow: white 3px 2px;
  position: relative;
  left: 25px;
}

.mainFormasDeEnvios .formasDeEnvios .cajaDeEnviosEnElDia {
  padding-top: 100px;
  width: 40%;
}

.mainFormasDeEnvios .formasDeEnvios .cajaDeFastmail {
  width: 40%;
}

@media only screen and (max-width: 1200px) {
  .mainFormaDeEnvios {
    height: 140vh;
  }
}

@media only screen and (max-width: 992px) {
  .mapaDeFormaDeEnvios {
    position: relative;
    padding-left: 170px;
  }
  .quedateEnCasa h2 {
    width: 56%;
  }
}

@media only screen and (max-width: 768px) {
  .mainFormaDeEnvios {
    height: 90vh;
  }
  .mapaDeFormaDeEnvios iframe {
    display: none;
  }
  .quedateEnCasa h2 {
    width: 65%;
  }
}

@media only screen and (max-width: 575px) {
  .mainFormaDeEnvios {
    height: 100vh;
  }
  .mapaDeFormaDeEnvios iframe {
    display: none;
  }
  .quedateEnCasa h2 {
    width: 62%;
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit !important;
  text-decoration: none !important;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-image: url(IMG/background-2076334_1920.jpg);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #CFCFCF;
  border-radius: 5px;
}
/*# sourceMappingURL=estilo.css.map */